.project-section {
  background-color: #f0f4fc;
  padding: 80px 5%;
  text-align: center;
font-family: 'Poppins', sans-serif;
}

.project-heading {
  font-size: 48px;
  color: #2256a5;
  font-weight: 800;
  margin-bottom: 50px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.project-card {
  background-color: rgba(0, 58, 133, 0.9);
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.project-card .tags {
  margin-bottom: 15px;
}

.project-card .tags span {
  display: inline-block;
  background-color: #f0f4fc;
  color: #0c3557;
  padding: 5px 12px;
  border-radius: 20px;
  margin: 5px 5px 0 0;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.project-card p {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 15px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  font-family: 'Poppins', sans-serif;
  padding: 0 8px;
}

.project-btn {
  display: inline-block;
  background-color: #5b5f49;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s;
font-family: 'Poppins', sans-serif;
}

.project-btn:hover {
  background-color: #444733;
}

.back-top-left {
  position: fixed;
  top: 20px;
  left: 110px;
  z-index: 1000;
}

.back-top-left .project-btn {
  background-color: rgba(0, 58, 133, 0.9);
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.back-top-left .project-btn:hover {
  background-color: #3f4130;
}
